/* assets/css/custom.css */

/* Change the color of the header background */
.header {
  background-color: #95caff; /* Example color */
  color: white;
}

/* Change the text color in the header */
.site-header a {
  color: white;
}

.buttons.book {
    display: inline-block;
    padding: 8px 12px;
    color: #fff;
    background-color: #5a9;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1em;
}

.buttons.book::before {
    content: "📖"; /* Book icon emoji */
    margin-right: 8px;
}


/* Change the background color of the footer */
footer {
  background-color: #333;
  color: white;
}

/* Customize the main content area */
.main-content {
  background-color: #95caff;
  color: #333;
}
