/* assets/css/custom.css */

/* Change the color of the header background */
.site-header {
  background-color: #95caff; /* Example color */
  color: white;
}

/* Change the text color in the header */
.site-header a {
  color: white;
}

a.buttons {
	-webkit-font-smoothing: antialiased;
	background: 📖;
	font-weight: normal;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	padding: 2px 2px 2px 22px;
	height: 30px;
}

/* Customize the main content area */
.body {
  background-color: #95caff;
  color: #333;
}
