/* Header styling */
header {
  background-color: #4CAF50; /* Change to your desired background color */
  color: white; /* Change text color to white or another color */
  padding: 20px; /* Adjust padding for space */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for the header image */
header .header-image {
  width: 50px; /* Adjust the width as per your image size */
  height: auto;
  margin-right: 20px; /* Space between the image and text */
}

h1 {
  margin: 0;
  font-size: 36px; /* Adjust the font size */
}


.buttons.github {
    display: inline-block;
    padding: 8px 12px;
    color: #fff;
    background-color: #5a9;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1em;
}

.buttons.github::before {
    content: "🐙"; /* Book icon emoji */
    margin-right: 8px;
}


.book {
    display: inline-block;
    padding: 8px 12px;
    color: #fff;
    background-color: #5a9;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1em;
}

.book::before {
    content: "📖"; /* Book icon emoji */
    margin-right: 8px;
}
